html {
    /* Setting a base font size of 16px give us easier rem calculations
       Info: 1rem === 16px, 1.5rem === 24px and so forth
    */
    font-size: 16px;
}

body {
    background-color: #F5F2ED;
    color: #283456;
    font-family: Space Mono, monospace;
    font-size: 1rem;
    line-height: 1.5;
    display: grid;
  }

  #main {
      margin-left: 150px;
      margin-right: 350px;
      margin-bottom: 50px;
  }

  @media (max-width: 460px) {
      #main #footer {
          margin: 0;
      }
      body {
          font-size: 1.2rem;
      }
  }
  
  p {
    font-family: 'Lekton', sans-serif;
    font-size: 1.2rem;
  }
  
  a {
    text-decoration: none;
    color: #283456;
  }
  
  #highlights {
    background-color: #FBB44B;
  }
  
  #image {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  #img-caption {
    font-family: 'Lekton', sans-serif;
    font-size: 1rem;
    padding-top: 20px;
  }
  
  #quote-text {
    padding: 50px 20px 20px 0px;
  }
  
  #quote-text p {
    font-family: Space Mono;
    font-size: 0.9rem;
  }
  
  #timeline {
    padding-top: 50px;
    display: grid;
    grid-row-gap: 20px;
  }
  
  #timeline h3 {
    color: #2336AF;
  }
  
  #tribute-link {
    color: #2336AF;
  }

  #footer p {
    font-family: Space Mono;
    font-size: 0.9rem;
    padding-top: 20px;
    margin-left: 150px;
    margin-bottom: 50px;
  }
  